<p>You are logged in</p>
<button (click)="logout()">Logout</button>
<!--
<style>
    #Register {
        display: block
    }
    #Login {
        display: block
    }
</style>


<body>
    
</body> 


<div id=Login>
    <div>
    UserName: {{userName}}<br>
    Password: {{password}}<br>
    </div>

    UserName:
    <input [(ngModel)]= "userName"> <br>
    Password:
    <input [(ngModel)]= "password"> <br>
    <button (click) = "checkCredentials()">Confirm</button>
</div>



<div id=Register>
    <div>
    UserName: {{userName}}<br>
    Password: {{password}}<br>

    </div>
    UserName:
    <input [(ngModel)]= "userName"> <br>
    Password:
    <input [(ngModel)]= "password"> <br>
    <button (click) = "AddCredentials()">Confirm</button>
</div>
-->

