
<h1 style='text-align:center'>My Cart</h1>


<div class = "card-container" *ngFor="let note of (cart | async)">
    <div class = "card">
  
      Item: <br>
      Title: {{note.Title|json}}<br>
      OwnerID: {{note.OwnerID|json}}<br>
      Price: {{note.Price|json}}<br>
      <img [src]="note.Image">
    </div>
    <button class= "button button1" (click)="deleteFromCart(note)">Remove From Cart</button>
   
  </div>
  <div class = "coolButtons">
    <button  class= "button button1" (click)="sendNotification()">Purchase</button>
  </div>
  