<h1> Marketplace</h1>
<h1 id='marketplacetitle'>Exhange4Students</h1>



<style>
  .sport {
      display: none
  }
  .book {
      display: none
  }
  .furniture {
      display: none
  }
  .clothing {
      display: none
  }
  .electronic {
      display: none
  }
  
  
  </style>

    <div id = "parent">
        
        <!--i think we should add the search bar under the title in this div-->
        
        <ul id = "book"><button (click) = "Booksort();bookShow()">show all Books</button>
          <!--Title-->
            <li class = "book"><div id = "sti">
                Book Title:
                <input [(ngModel)]= "newContent">
              <button (click) = "BookTitleSort()">search</button>
            </div></li>

            <!--Course Number-->
              <li class = "book"><div id = "sti">
                Course Number:
                <input [(ngModel)]= "newCourseNumbers">
              <button (click) = "BookCourseNumberSort()">search</button>
            </div></li>

          <!--Edition-->
            <li class = "book"><div id = "sti">
              Edition:
              <input [(ngModel)]= "edition">
            <button (click) = "BookEditionSort()">search</button>
          </div></li>


         <!--Description-->
          <li class = "book"><div id = "sti">
            Description:
            <input [(ngModel)]= "description">
          <button (click) = "BookDescriptionSort()">search</button>
        </div></li>

          <!--Price-->
          <li class = "book"><div id = "sti">
            Price:
            <input [(ngModel)]= "price">
          <button (click) = "BookPriceSort()">search</button>
        </div></li>
        </ul>


      
        <!--Sports-->

        <ul id = "sport"><button (click) = "Sportssort();sportShow()">show all Sports</button>
          <!--Title-->
            <li class = "sport"><div id = "sti">
                Sport Title:
                <input [(ngModel)]= "newContent">
              <button (click) = "SportTitleSort()">search</button>
            </div></li>

            <!--Sport-->
              <li class = "sport"><div id = "sti">
                Sport:
                <input [(ngModel)]= "sport">
              <button (click) = "SportSportSort()">search</button>
            </div></li>

          <!--Weight-->

            <li class = "sport"><div id = "sti">
              Weight:
              <input [(ngModel)]= "weight">
            <button (click) = "SportWeightSort()">search</button>
          </div></li>


         <!--Description-->
          <li class = "sport"><div id = "sti">
            Description:
            <input [(ngModel)]= "description">
          <button (click) = "SportDescriptionSort()">search</button>
        </div></li>

          <!--Price-->
          <li class = "sport"><div id = "sti">
            Price:
            <input [(ngModel)]= "price">
          <button (click) = "SportPriceSort()">search</button>
        </div></li>
        </ul>



        <!--Furniture-->

        <ul id = "furniture"><button (click) = "Furnituresort();furnitureShow()">show all Furniture</button>
          <!--Title-->
            <li class = "furniture"><div id = "sti">
                Furniture Title:
                <input [(ngModel)]= "newContent">
              <button (click) = "FurnitureTitleSort()">search</button>
            </div></li>

            <!--Category-->
              <li class = "furniture"><div id = "sti">
                Category:
                <input [(ngModel)]= "category">
              <button (click) = "FurnitureCategorySort()">search</button>
            </div></li>

            <!--Weight-->
              <li class = "furniture"><div id = "sti">
                Weight:
                <input [(ngModel)]= "weight">
              <button (click) = "FurnitureWeightSort()">search</button>
            </div></li>

            <!--Description-->
              <li class = "furniture"><div id = "sti">
                Description:
                <input [(ngModel)]= "description">
              <button (click) = "FurnitureDescriptionSort()">search</button>
            </div></li>


            <!--Color-->
              <li class = "furniture"><div id = "sti">
                Color:
                <input [(ngModel)]= "color">
              <button (click) = "FurnitureColorSort()">search</button>
            </div></li>

            <!--Dimension-->
            <li class = "furniture"><div id = "sti">
              Dimension:
              <input [(ngModel)]= "dimension">
            <button (click) = "FurnitureDimensionSort()">search</button>
          </div></li>

            <!--Price-->
            <li class = "furniture"><div id = "sti">
              Price:
              <input [(ngModel)]= "price">
            <button (click) = "FurniturePriceSort()">search</button>
          </div></li>
          </ul>


          <!--Clothing-->

        <ul id = "clothing"><button (click) = "Clothingsort();clothingShow()">show all Clothing</button>
          <!--Title-->
            <li class = "clothing"><div id = "sti">
                Clothing Title:
                <input [(ngModel)]= "newContent">
              <button (click) = "ClothingTitleSort()">search</button>
            </div></li>

            <!--Category-->
              <li class = "clothing"><div id = "sti">
                Category:
                <input [(ngModel)]= "category">
              <button (click) = "ClothingCategorySort()">search</button>
            </div></li>

            <!--Description-->
              <li class = "clothing"><div id = "sti">
                Description:
                <input [(ngModel)]= "description">
              <button (click) = "ClothingDescriptionSort()">search</button>
            </div></li>


            <!--Color-->
              <li class = "clothing"><div id = "sti">
                Color:
                <input [(ngModel)]= "color">
              <button (click) = "ClothingColorSort()">search</button>
            </div></li>

            <!--Size-->
            <li class = "clothing"><div id = "sti">
              Size:
              <input [(ngModel)]= "size">
            <button (click) = "ClothingSizeSort()">search</button>
          </div></li>

            <!--Price-->
            <li class = "clothing"><div id = "sti">
              Price:
              <input [(ngModel)]= "price">
            <button (click) = "ClothingPriceSort()">search</button>
          </div></li>
          </ul>

          <!--Electronics-->

        <ul id = "electronic"><button (click) = "Electronicssort();electronicShow()">show all Electronics</button>
          <!--Title-->
            <li class = "electronic"><div id = "sti">
                Electronic Title:
                <input [(ngModel)]= "newContent">
              <button (click) = "ElectronicTitleSort()">search</button>
            </div></li>

            <!--Category-->
              <li class = "electronic"><div id = "sti">
                Category:
                <input [(ngModel)]= "category">
              <button (click) = "ElectronicCategorySort()">search</button>
            </div></li>

            <!--Description-->
              <li class = "electronic"><div id = "sti">
                Description:
                <input [(ngModel)]= "description">
              <button (click) = "ElectronicDescriptionSort()">search</button>
            </div></li>

            <!--Weight-->
              <li class = "electronic"><div id = "sti">
                Weight:
                <input [(ngModel)]= "weight">
              <button (click) = "ElectronicWeightSort()">search</button>
            </div></li>

            <!--Model-->
              <li class = "electronic"><div id = "sti">
                Model:
                <input [(ngModel)]= "model">
              <button (click) = "ElectronicModelSort()">search</button>
            </div></li>

            <!--Dimension-->
            <li class = "electronic"><div id = "sti">
              Dimension:
              <input [(ngModel)]= "dimension">
            <button (click) = "ElectronicDimensionSort()">search</button>
          </div></li>

            <!--Price-->
            <li class = "electronic"><div id = "sti">
              Price:
              <input [(ngModel)]= "price">
            <button (click) = "ElectronicPriceSort()">search</button>
          </div></li>
          </ul>

        </div>




          
    <!--<h3>{{notes | async | json}}</h3>-->
    <h3>Books</h3><br>
    <div id = "parent">
      
    <div class = "card-container" *ngFor="let note of (notes | async)">
    
      <div [routerLink]="['/view-item']" [queryParams]="{title:note.Title,edition:note.Edition,
    course_number:note.Course_Number,description:note.Description,price:note.Price,type:'Book'}" class = "card">
        Book <br>
        Title: {{note.Title|json}}<br>
        Edition: {{note.Edition|json}}<br>
        Course Number: {{note.Course_Number|json}}<br>
        Description: {{note.Description|json}}<br>
        Price: {{note.Price|json}}<br>
      </div>
    </div>
    </div>
    <h3>Sports</h3><br>
    <div id = "parent">
        
    <div class = "card-container" *ngFor="let sport of (sports | async)">
     
        <div [routerLink]="['/view-item']" [queryParams]="{title:sport.Title,sport:sport.Sport,weight:sport.Weight,
            description:sport.Description,price:sport.Price,type:'Sport'}" class = "card">
          Sport <br>
          Title: {{sport.Title|json}}<br>
          Sport: {{sport.Sport|json}}<br>
          Weight: {{sport.Weight|json}}<br>
          Description: {{sport.Description|json}}<br>
          Price: {{sport.Price|json}}<br>
        </div>
    </div>
    </div>
    <h3>Furniture</h3><br>
    <div id = "parent">
        
        <div class = "card-container" *ngFor="let furn of (furniture | async)">
         
            <div [routerLink]="['/view-item']" [queryParams]="{title:furn.Title,category:furn.Category,weight:furn.Weight,
                color:furn.Color,dimension:furn.Dimension,description:furn.Description,price:furn.Price,type:'Furniture'}" class = "card">
              Furniture <br>
              Title: {{furn.Title|json}}<br>
              Category: {{furn.Category|json}}<br>
              Weight: {{furn.Weight|json}}<br>
              Color: {{furn.Color|json}}<br>
              Dimension: {{furn.Dimension|json}}<br>
              Description: {{furn.Description|json}}<br>
              Price: {{furn.Price|json}}<br>
            </div>
        </div>
        </div>
    <h3>Clothing</h3><br>
    <div id = "parent">
        
        <div class = "card-container" *ngFor="let cloth of (clothing | async)">
         
            <div [routerLink]="['/view-item']" [queryParams]="{title:cloth.Title,category:cloth.Category,
                size:cloth.Size,color:cloth.Color,description:cloth.Description,price:cloth.Price,type:'Clothing'}" class = "card">
              Clothing <br>
              Title: {{cloth.Title|json}}<br>
              Category: {{cloth.Category|json}}<br>
              Size: {{cloth.Size|json}}<br>
              Color: {{cloth.Color|json}}<br>
              Description: {{cloth.Description|json}}<br>
              Price: {{cloth.Price|json}}<br>
            </div>
        </div>
        </div>
    <h3>Electronic</h3><br>
    <div id = "parent">
        
        <div class = "card-container" *ngFor="let elect of (electronics | async)">
         
            <div [routerLink]="['/view-item']" [queryParams]="{title:elect.Title,category: elect.Category,
                dimension:elect.Dimension,model:elect.Model,weight:elect.Weight,description:elect.Description,price:elect.Price,type:'Electronic'}" class = "card">
              Electronic <br>
              Title: {{elect.Title|json}}<br>
              Category: {{elect.Category|json}}<br>
              Dimension: {{elect.Dimension|json}}<br>
              Model: {{elect.Model|json}}<br>
              Weight: {{elect.Weight|json}}<br>
              Description: {{elect.Description|json}}<br>
              Price: {{elect.Price|json}}<br>
            </div>
        </div>
        </div>

