<!-- <div class="page-wrapper"> -->
<div *ngFor="let note of (notes | async)" class="wrapper">
  <div class="row" fxLayout='Row'>
    <div class="card">
      <br>Book <br><br>
      Title: {{note.Title|json}}<br><br>
      Edition: {{note.Edition|json}}<br><br>
      Course Number: {{note.Course_Number|json}}<br><br>
      Description: {{note.Description|json}}<br><br>
      Price: {{note.Price|json}}<br><br>
    </div>
    <div class = "card">
      <img [src]="note.Image">
    </div>
  </div>
  <button *ngIf="!edit" (click)="addToCart(note)" class="btnred">Add to Cart</button>
  <button *ngIf="edit" (click)="updateBook(note)" class="btnred">Update Item</button>
  <button *ngIf="edit" (click)="removeBook(note)" class="btnred">Remove Item</button>
</div>



<div *ngFor="let sport of (sports | async)" class="wrapper">
  <div class="row" fxLayout='Row'>
    <div class="card">
      <br>Sport <br><br>
      Title: {{sport.Title|json}}<br><br>
      Sport: {{sport.Sport|json}}<br><br>
      Weight: {{sport.Weight|json}}<br><br>
      Description: {{sport.Description|json}}<br><br>
      Price: {{sport.Price|json}}<br><br>
    </div>
    <div class = "card">
      <img [src]="sport.Image">
    </div>
    
  </div>
  <button *ngIf="!edit" (click)="addToCart(sport)" class="btnred">Add to Cart</button>
  <button *ngIf="edit" (click)="updateSport(sport)" class="btnred">Update Item</button>
  <button *ngIf="edit" (click)="removeSport(sport)" class="btnred">Remove Item</button>
</div>


<div *ngFor="let furn of (furniture | async)" style.align=center class="wrapper">
  <div class="row" fxLayout='Row'>
    <div class="card">
      <br>Furniture <br><br>
      Title: {{furn.Title|json}}<br><br>
      Category: {{furn.Category|json}}<br><br>
      Weight: {{furn.Weight|json}}<br><br>
      Color: {{furn.Color|json}}<br><br>
      Dimensions: {{furn.Dimension|json}}<br><br>
      Description: {{furn.Description|json}}<br><br>
      Price: {{furn.Price|json}}<br><br>
    </div>
    <div class = "card">
      <img [src]="furn.Image">
    </div>
  </div>
  <button *ngIf="!edit" (click)="addToCart(furn)" class="btnred">Add to Cart</button>
  <button *ngIf="edit" (click)="updateFurniture(furn)" class="btnred">Update Item</button>
  <button *ngIf="edit" (click)="removeFurniture(furn)" class="btnred">Remove Item</button>
</div>


<div *ngFor="let cloth of (clothing | async)" style.align=center class="wrapper">
  <div class="row" fxLayout='Row'>
    <div class="card">
      <br>Clothing <br><br>
      Title: {{cloth.Title|json}}<br><br>
      Category: {{cloth.Category|json}}<br><br>
      Size: {{cloth.Size|json}}<br><br>
      Color: {{cloth.Color|json}}<br><br>
      Description: {{cloth.Description|json}}<br><br>
      Price: {{cloth.Price|json}}<br><br>
    </div>
    <div class = "card">
      <img [src]="cloth.Image">
    </div>
  </div>
  <button *ngIf="!edit" (click)="addToCart(cloth)" class="btnred">Add to Cart</button>
  <button *ngIf="edit" (click)="updateClothing(cloth)" class="btnred">Update Item</button>
  <button *ngIf="edit" (click)="removeClothing(cloth)" class="btnred">Remove Item</button>
</div>


<div *ngFor="let elect of (electronics | async)" style.align=center class="wrapper">

  <div class="row" fxLayout='Row'>
    <div class="card">
      <br>Electronic <br><br>
      Title: {{elect.Title|json}}<br><br>
      Category: {{elect.Category|json}}<br><br>
      Dimension: {{elect.Dimension|json}}<br><br>
      Model: {{elect.Model|json}}<br><br>
      Weight: {{elect.Weight|json}}<br><br>
      Description: {{elect.Description|json}}<br><br>
      Price: {{elect.Price|json}}<br><br>
    </div>
    <div class = "card">
      <img [src]="elect.Image">
    </div>
  </div>
  <button *ngIf="!edit" (click)="addToCart(elect)" class="btnred">Add to Cart</button>
  <button *ngIf="edit" (click)="updateElectronic(elect)" class="btnred">Update Item</button>
  <button *ngIf="edit" (click)="removeElectronic(elect)" class="btnred">Remove Item</button>
</div>

<style>
  #sport {
    display: none
  }

  #book {
    display: none
  }

  #furniture {
    display: none
  }

  #clothing {
    display: none
  }

  #electronic {
    display: none
  }
</style>

<div id="book">
  <p class="updateButtons"> 
  Enter information you would like to change in your book listing<br>
  Book Title:
  <input [(ngModel)]="ttitle"><br>
  Course Number:
  <input [(ngModel)]="Ccourse_number"><br>
  Edition:
  <input [(ngModel)]="eedition"><br>
  Description:
  <input [(ngModel)]="Ddescription"><br>
  Price:
  <input [(ngModel)]="Pprice"><br>
</p>

</div>
<div id="sport">
  <p class="updateButtons"> 
  Enter information you would like to change in your sport listing<br>
  Title: 
  <input [(ngModel)]="ttitle"> <br>
  Sport:
  <input [(ngModel)]="Ssport"><br>
  Weight:
  <input [(ngModel)]="Wweight"><br>
  Description:
  <input [(ngModel)]="Ddescription"><br>
  Price:
  <input [(ngModel)]="Pprice"><br>
</p>

</div>
<div id="furniture">
  <p class="updateButtons"> 
  Enter information you would like to change in your furniture listing<br>
  Furniture Title:
  <input [(ngModel)]="title"><br>
  Category:
  <input [(ngModel)]="Ccategory"><br>
  Dimensions:
  <input [(ngModel)]="Ddimension"><br>
  Color:
  <input [(ngModel)]="Ccolor"><br>
  Description:
  <input [(ngModel)]="Ddescription"><br>
  Weight:
  <input [(ngModel)]="Wweight"><br>
  Price:
  <input [(ngModel)]="Pprice"><br>
</p>

</div>
<div id="clothing">
  <p class="updateButtons"> 
  Enter information you would like to change in your clothing listing<br>
  Clothing Title:
  <input [(ngModel)]="ttitle"><br>
  Category:
  <input [(ngModel)]="Ccategory"><br>
  Color:
  <input [(ngModel)]="Ccolor"><br>
  Size:
  <input [(ngModel)]="Ssize"><br>
  Description:
  <input [(ngModel)]="Ddescription"><br>
  Price:
  <input [(ngModel)]="Pprice"><br>
</p>

</div>
<div id="electronic">
  <p class="updateButtons"> 
  Enter information you would like to change in your electronic listing<br>
  Electronic Title:
  <input [(ngModel)]="ttitle"><br>
  Category:
  <input [(ngModel)]="Ccategory"><br>
  Model:
  <input [(ngModel)]="Mmodel"><br>
  Dimensions:
  <input [(ngModel)]="Ddimension"><br>
  Weight:
  <input [(ngModel)]="Wweight"><br>
  Description:
  <input [(ngModel)]="Ddescription"><br>
  Price:
  <input [(ngModel)]="Pprice"><br>
</p>

</div>
<!-- </div> -->